# Django
SECRET_KEY=
DEBUG=False
ALLOWED_HOSTS=delicious-bingo.duckdns.org

# Database (Supabase PostgreSQL)
DATABASE_URL=postgres://USER:PASSWORD@db.xxx.supabase.co:6543/postgres

# Cloudinary
CLOUDINARY_URL=cloudinary://API_KEY:API_SECRET@CLOUD_NAME

# Kakao
KAKAO_REST_API_KEY=
KAKAO_CLIENT_SECRET=
VITE_KAKAO_JS_KEY=

# Sentry (optional)
SENTRY_DSN=
