app = 'delicious-bingo'
primary_region = 'nrt'

[build]
  dockerfile = 'Dockerfile'
  [build.args]
    VITE_KAKAO_JS_KEY = "bf61fedcd192c42f676e85d015745bb2"

[http_service]
  internal_port = 8000
  force_https = true
  auto_stop_machines = 'stop'
  auto_start_machines = true
  min_machines_running = 0

[[vm]]
  memory = '256mb'
  cpu_kind = 'shared'
  cpus = 1
