# Django
Django==6.0.1
djangorestframework==3.16.1
django-cors-headers==4.9.0

# Database
psycopg2-binary==2.9.11
dj-database-url==2.3.0

# Production server
gunicorn==23.0.0
whitenoise==6.8.2

# Image processing
pillow==12.1.0

# Cloud storage (production)
cloudinary==1.40.0
django-cloudinary-storage==0.3.0
